* {
 margin:0px;
 padding:0px;
}
body {
 text-size-adjust:100%;
}

#form {
 margin-top:5%;
 display:grid;
 grid-template-columns:2fr 1fr 2fr;
 grid-gap:0.7em;
}
#form > div {
 text-align:center;
}
#input {
 border:1px solid black;
 border-radius:10px;
}

#title {
 font-size:1.45em;
 text-align:center;
 color:#42a8e3;
 text-decoration:none;
}
label {
 font-size:1.2em;
}
input {
 font-size:0.9em;
}
