/* tablet */
@media (max-width:768px) {
 #title {
  font-size:1.22em;
 }
 p {
  font-size:1.19em;
 }
}
@media (max-width:720px) {
 #container {
  grid-template-columns:1fr 1fr;
 }
}

/* mobile */
@media (max-width:700px) {
 nav, #register {
  display:none;
 }
}
@media (max-width:425px) {
 #container {
  grid-template-columns:1fr;
 }
 #logo {
  font-size:1.6em;
 }
 #title {
  font-size:1.12em;
 }
 p {
  font-size:1.1em;
 }
 a {
  font-size:1.0em;
 }
 #title1 {
  font-size:1.3em;
 }
 #registration label {
  font-size:1.1em;
 }
}