/* tablet */
@media (max-width:1280px) {
 /* header */
 #logo {
  font-size:1.5rem;
 }
 #version {
  font-size:0.7rem;
 }

 /* nav */
 nav a {
  font-size:1.25rem;
 }

 /* registration */
 #registration label {
  font-size:1.1rem;
 }
 #signin {
  font-size:1rem;
 }

 /* text */
 #title {
  font-size:1.07rem;
 }
 #title1 {
  font-size:1.3rem;
 }
 p {
  font-size:1.07rem;
 }
}

@media (max-width:720px) {
 #container {
  grid-template-columns:1fr 1fr;
 }
}

/* mobile */
@media (max-width:700px) {
 #full {
  display:none;
 }
 #short {
  display:block;
 }
}

@media (max-width:425px) {
 /* container */
 #container {
  grid-template-columns:1fr;
 }

 /* window */
 #window {
  padding:3px;
 }
 #insidewindow p {
  margin-left:0.5%;
  margin-right:0.5%;
 }

 /* header */
 #logo {
  font-size:1.2rem;
 }

 /* nav */
 nav {
  margin-top:0.05rem;
 }
 #dropdown {
  margin-top:0rem;
  margin-right:0.2rem;
 }
 .line {
  margin-top:2px;
  height:4px;
  width:1.9rem;
 }
 #account {
  font-size:1.1rem;
  right:2.8rem;
  top:0.15rem;
 }

 /* registration */
 #registration label {
  font-size:1rem;
 }
 #signin {
  font-size:0.9rem;
 }

 /* text */
 #title {
  font-size:0.94rem;
 }
 #title1 {
  font-size:1.2rem;
 }
 p {
  font-size:0.93rem;
 }
 a {
  font-size:0.93rem;
 }

 /* footer */
 footer p {
  font-size:0.7rem;
 }
}
