/* settings */
* {
 margin:0;
 padding:0;
}
body {
 font-size:1em;
 text-size-adjust:100%;
}

/* header */
header {
 width:100%;
 background-color:black;
 padding:2px;
}
header div, nav {
 display:inline-block;
}
#logo {
 color:#42a8e3;
 font-size:1.9em;
 margin-left:0.1%;
}
#version {
 color:#42a8e3;
 font-size:0.9em;
}
nav {
 float:right;
 font-size:1.45em;
 margin-right:1em;
 margin-top:0.2rem;
}
#register {
 float:right;
 font-size:1.45em;
 margin-right:1em;
 margin-top:0.2rem;
}
nav a, #register a {
 color:#42a8e3;
 text-decoration:none;
}

/* container */
#container {
 display:grid;
 grid-template-columns:1fr 1fr 1fr;
 grid-gap:10px;
 padding:10px;
}
#container > div {
 border:1px solid black;
 border-radius:5px;
}

/* text */
#title {
 color:#42a8e3;
 text-align:center;
 font-size:1.3em;
}
p {
 font-size:1.2em;
}

/* footer */
footer {
 width:100%;
 color:#42a8e3;
 background-color:black;
}
footer p {
 font-size:0.9em;
}

/* tablet */
@media (max-width:720px) {
 #container {
  grid-template-columns:1fr 1fr;
 }
}

/* mobile */
@media (max-width:700px) {
 nav, #register {
  display:none;
 }
}
@media (max-width:370px) {
 #container {
  grid-template-columns:1fr;
 }
 #logo {
  font-size:1.6em;
 }
 #title {
  font-size:1.2em;
 }
 p {
  font-size:1.1em;
 }
}