/* settings */
* {
 margin:0;
 padding:0;
}
body {
 text-size-adjust:100%;
}

/* window */
#window {
 z-index:1;
 display:none;
 position:fixed;
 min-height:80%;
 width:80%;
 margin-top:3%;
 margin-left:10%;
 background-color:white;
 border:1px solid black;
 border-radius:5px;
 overflow:scroll;
 padding:2px;
}
#block {
 z-index:0;
 display:none;
 position:fixed;
 height:100%;
 width:100%;
 background-color:rgba(0, 0, 0, 0.7);
}
#insidewindow {
 text-align:center;
}

/* header */
header {
 background-color:black;
 padding:2px;
}
header div, nav {
 display:inline-block;
}
#logo {
 color:#42a8e3;
 font-size:1.8em;
 margin-left:0.1%;
 cursor:pointer;
}
#version {
 color:#42a8e3;
 font-size:0.9em;
 cursor:pointer;
}
nav {
 float:right;
 font-size:1.3em;
 margin-right:1em;
 margin-top:0.2rem;
}
#register {
 float:right;
 font-size:1.3em;
 margin-right:1em;
 margin-top:0.2rem;
}
nav a, #register a {
 color:#42a8e3;
 text-decoration:none;
}

/* container */
#container {
 display:grid;
 grid-template-columns:1fr 1fr 1fr;
 grid-gap:10px;
 padding:10px;
}
#container > div {
 border:1px solid black;
 border-radius:5px;
 padding:2px;
}

/* registration */
#registration {
 display:block;
 border:1px solid black;
 margin:0px auto;
 margin-top:6em;
 width:14em;
 border-radius:5px;
 text-align:center;
}
#registration label {
 font-size:1.2em;
}
#registration .input {
 width:59%;
}

/* text */
#title {
 color:#42a8e3;
 text-align:center;
 font-size:1.28em;
}
#title1 {
 color:#42a8e3;
 text-align:center;
 font-size:1.5em;
 text-decoration:none;
}
p {
 font-size:1.26em;
}
a {
 font-size:1.1em;
}

/* footer */
footer {
 width:100%;
 color:#42a8e3;
 background-color:black;
 cursor:pointer;
}
footer p {
 font-size:0.9em;
}