/* settings */
* {
 margin:0;
 padding:0;
}
body {
 text-size-adjust:100%;
}

/* window */
#window {
 z-index:1;
 display:none;
 position:fixed;
 min-height:80%;
 width:80%;
 margin-top:3%;
 margin-left:10%;
 background-color:white;
 border:1px solid black;
 border-radius:5px;
 overflow:scroll;
 padding:2px;
}
#block {
 z-index:0;
 display:none;
 position:fixed;
 height:200%;
 width:100%;
 background-color:rgba(0, 0, 0, 0.7);
}
#insidewindow p {
 margin-left:0.4%;
 margin-right:0.4%;
}

/* header */
header {
 background-color:black;
 padding:2px;
}
header div, nav {
 display:inline-block;
}
#logo {
 color:#42a8e3;
 font-size:1.6rem;
 margin-left:0.1%;
 cursor:pointer;
}
#version {
 color:#42a8e3;
 font-size:0.9rem;
 cursor:pointer;
}

/* nav */
nav {
 float:right;
}
nav a {
 color:#42a8e3;
 font-size:1.3rem;
 text-decoration:none;
}
#register {
 margin-left:1rem;
}
#full {
 margin-top:0.1rem;
 margin-right:1rem;
}
#short {
 display:none;
}
#dropdown {
 margin-top:0.1rem;
 margin-right:0.4rem;
 cursor:pointer;
}
.line {
 display:block;
 margin-top:2px;
 width:2rem;
 height:5px;
 background-color:#42a8e3;
}
#list {
 display:none;
 position:fixed;
 top:0;
 right:0;
 width:8.8rem;
 height:200%;
 background-color:black;
 list-style-position:inside;
}
#datalist {
 display:grid;
 grid-template-columns:1fr;
 height:50%
}
#list ul {
 color:#42a8e3;
 margin-left:1rem;
 margin-top:10%;
}
#list a {
 text-decoration:none;
 color:#42a8e3;
 font-size:1.19rem;
}
#account {
 position:absolute;
 text-decoration:none;
 color:#42a8e3;
 font-size:1.3rem;
 right:3rem;
 top:0.2rem;
}

/* container */
#container {
 display:grid;
 grid-template-columns:1fr 1fr 1fr;
 grid-gap:10px;
 padding:10px;
}
#container > div {
 border:1px solid black;
 border-radius:5px;
 padding:2px;
}

/* registration */
#registration {
 display:block;
 border:1px solid black;
 margin:0px auto;
 margin-top:6em;
 width:14em;
 border-radius:5px;
 text-align:center;
}
#registration label {
 font-size:1.2rem;
}
#registration .input {
 width:59%;
}
#signin {
 font-size:1.1rem;
}

/* text */
#title {
 color:#42a8e3;
 text-align:center;
 font-size:1.21rem;
}
#title1 {
 color:#42a8e3;
 text-align:center;
 font-size:1.5rem;
 text-decoration:none;
}
p {
 font-size:1.2rem;
}
a {
 font-size:1.2rem;
}

/* footer */
footer {
 width:100%;
 color:#42a8e3;
 background-color:black;
 cursor:pointer;
}
footer p {
 font-size:0.8rem;
}